.task-form input[type="time"] {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 50%;
}
.dropzone {
  font-size: 18px;
  color: #2196f3;
  border: 2px dashed #2196f3;
  width: 500px;
}
